* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.sfondomain {
  background-color: #1c1c1c;
}

.spostamento-destro {
  padding-left: 17%;
}

.bar-icon {
  width: 35px;
  height: auto;
}

.sfondofootertop {
  background-image: url(../public/img/footer-bg.jpg);
}

.footer-top {
  overflow: hidden;
}

.footer-bg-img {
  height: 200%;
  max-width: 600px;
  transform: translateY(-25%);
}